@media screen and (max-width: 768px) {
    .main {
        .warp {
            .btn-group {
                flex-direction: column;
                min-width: 300px;
            }
        }
    }
    .info {
        .row {
            grid-template-columns: 1fr;
            gap: 40px;
        }
    }
}

@media screen and (max-width: 400px) {
    .main {
        .warp {
            .btn-group {
                width: unset;
            }
        }
    }
}
